In [606]:
#Librerias y frameworks
import requests
import pandas as pd
import etl_functions as etl
import re
pd.set_option('display.max_columns', 200)
from dotenv import load_dotenv
import os
import pymysql 
load_dotenv("config.env")
api_key = os.getenv("API_KEY")

In [607]:
import importlib #borrar
importlib.reload(etl)

# **<span style="color: #800080; font-size: 36px;">1- Extracción de datos :</span>**

## **<span style="color: #DDA0DD; font-size: 30px;">Descarga de datasets:</span>**

##### De la página: https://datosabiertos.enacom.gob.ar/dashboards/20000/acceso-a-internet/
Usando la Api se hace la consulta con el respectivo GUID y el API KEY y te devuelve un diccionario con el link de descarga de un archivo .xlsx

In [608]:
#GUID de los dataset obligatorios para el estudio, relacionados con Acceso a Internet en Argentina
guid_to_download = ['ACCES-A-INTER-FIJO-46973','ACCES-A-INTER-FIJO-51042','ACCES-A-INTER-FIJO-86398','ACCES-A-INTER-FIJO-BANDA','ACCES-A-INTER-FIJO-POR','ACCES-POR-VELOC-DE-DESCA','CONEC-AL-SERVI-DE-INTER','INGRE-POR-LA-OPERA-DEL','PENET-DEL-SERVI-DE-INTER','VELOC-PROME-DE-BAJAD-DE']
links_to_download = []
#Descargar y guardar los enlaces de descarga en una lista.
for g in guid_to_download:
    response = requests.get(f'http://api.datosabiertos.enacom.gob.ar/api/v2/datasets/{g}.json/?auth_key={api_key}')
    print(g,' ',response)
    data = response.json()
    links_to_download.append((g,data['download_url']))

ACCES-A-INTER-FIJO-46973   <Response [200]>

ACCES-A-INTER-FIJO-51042   <Response [200]>
ACCES-A-INTER-FIJO-86398   <Response [200]>
ACCES-A-INTER-FIJO-BANDA   <Response [200]>
ACCES-A-INTER-FIJO-POR   <Response [200]>
ACCES-POR-VELOC-DE-DESCA   <Response [200]>
CONEC-AL-SERVI-DE-INTER   <Response [200]>
INGRE-POR-LA-OPERA-DEL   <Response [200]>
PENET-DEL-SERVI-DE-INTER   <Response [200]>
VELOC-PROME-DE-BAJAD-DE   <Response [200]>

In [609]:
#Links para descargar los dataset.
links_to_download

[('ACCES-A-INTER-FIJO-46973',
  'https://vortex-datasets.s3.amazonaws.com/15121/47231/34231934572399101458052606993142863986?response-content-disposition=attachment%3B%20filename%3D%22Internet-Accesos-por-tecno_por_loc.xlsx%22&AWSAccessKeyId=AKIAZN3WFJ75BSAK63MD&Expires=1689557692&Signature=fITdDYSiQk1qH3nA%2B9q3VE7xNyg%3D'),
 ('ACCES-A-INTER-FIJO-51042',
  'https://vortex-datasets.s3.amazonaws.com/15121/47231/261476698817589619721589971841852060416?response-content-disposition=attachment%3B%20filename%3D%22Internet_Accesos-por-velocidad.xlsx%22&AWSAccessKeyId=AKIAZN3WFJ75BSAK63MD&Expires=1689557692&Signature=h6B3565p8aTqnX9iaAuk0Q0%2FUBc%3D'),
 ('ACCES-A-INTER-FIJO-86398',
  'https://vortex-datasets.s3.amazonaws.com/15121/47231/230096416574664074123064078477672122139?response-content-disposition=attachment%3B%20filename%3D%22Internet_Accesos-por-velocidad_por%20loc.xlsx%22&AWSAccessKeyId=AKIAZN3WFJ75BSAK63MD&Expires=1689557693&Signature=asHN07260m1qGNRxhown%2BLemPuM%3D'),
 ('ACCES-A-INTER-FIJO-BANDA',
  'https://vortex-datasets.s3.amazonaws.com/15121/47231/83477414576439544171692026995617410300?response-content-disposition=attachment%3B%20filename%3D%22Internet_BAF.xlsx%22&AWSAccessKeyId=AKIAZN3WFJ75BSAK63MD&Expires=1689557693&Signature=FSoo2RnVolZAwq6SDc%2FgPec7pJ4%3D'),
 ('ACCES-A-INTER-FIJO-POR',
  'https://vortex-datasets.s3.amazonaws.com/15121/47231/83249980208134699871201680383929668236?response-content-disposition=attachment%3B%20filename%3D%22Internet_Accesos-por-tecnologia.xlsx%22&AWSAccessKeyId=AKIAZN3WFJ75BSAK63MD&Expires=1689557694&Signature=GfIo0EWDuQ0QGvhhECd1gGONr1Q%3D'),
 ('ACCES-POR-VELOC-DE-DESCA',
  'https://vortex-datasets.s3.amazonaws.com/15121/47231/52070537616547543734200257850480991947?response-content-disposition=attachment%3B%20filename%3D%22Internet_Accesos-por-velocidad_provincia_sin%20rangos.xlsx%22&AWSAccessKeyId=AKIAZN3WFJ75BSAK63MD&Expires=1689557694&Signature=q1VKJJN%2FxQGAZ268UJx%2Bup4PstE%3D'),
 ('CONEC-AL-SERVI-DE-INTER',
  'https://vortex-datasets.s3.amazonaws.com/15121/37231/82979499673601334962538944643734541819?response-content-disposition=attachment%3B%20filename%3D%22mapa_conectividad.xlsx%22&AWSAccessKeyId=AKIAZN3WFJ75BSAK63MD&Expires=1689557695&Signature=ZW%2Fe3PUrieL9Uqghv%2BdVCo744T4%3D'),
 ('INGRE-POR-LA-OPERA-DEL',
  'https://vortex-datasets.s3.amazonaws.com/15121/47231/119489323315239135643440558949163971055?response-content-disposition=attachment%3B%20filename%3D%22Internet_Ingresos.xlsx%22&AWSAccessKeyId=AKIAZN3WFJ75BSAK63MD&Expires=1689557695&Signature=czfyih8wzQEKOm3nnFwZ1cJnGK8%3D'),
 ('PENET-DEL-SERVI-DE-INTER',
  'https://vortex-datasets.s3.amazonaws.com/15121/47231/44883019853249075674723079188801899514?response-content-disposition=attachment%3B%20filename%3D%22Internet_Penetracion.xlsx%22&AWSAccessKeyId=AKIAZN3WFJ75BSAK63MD&Expires=1689557696&Signature=KWGqpShkN6hGp8t3AstUJ%2FdHYjE%3D'),
 ('VELOC-PROME-DE-BAJAD-DE',
  'https://vortex-datasets.s3.amazonaws.com/15121/47231/323412694985426137442164675060720322567?response-content-disposition=attachment%3B%20filename%3D%22historico_velocidad_internet.xlsx%22&AWSAccessKeyId=AKIAZN3WFJ75BSAK63MD&Expires=1689557696&Signature=C4uiLPEF4H3JO%2FYJYgBAR6IGNKk%3D')]

## **<span style="color: #DDA0DD; font-size: 30px;">Leer de los datasets descargados:</span>**

### **1.1 - ACCES-A-INTER-FIJO-46973**

##### Este dataset muestra por provincia, localidad y por tipo de tecnología la cantidad de accesos a internet. El dataset es una foto del 3er trimestre de 2022.  Posiblemente sea usado para un análisis por localidad. <span style="color:#1A5276;">**Análisis por Localidad**</span>

In [610]:
acces_inter_fijo_46973 = pd.read_excel('data\ACCES-A-INTER-FIJO-46973.xlsx', sheet_name='Accesos_tecnologia_localidad')
acces_inter_fijo_46973.head(3)

,Provincia,Partido,Localidad,Link Indec,ADSL,CABLEMODEM,DIAL UP,FIBRA OPTICA,OTROS,SATELITAL,WIMAX,WIRELESS,Total general
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,873,4704,0,2,0,975,0,664,7218
1,BUENOS AIRES,25 de Mayo,Del Valle,6854020,181,0,0,0,10,1,0,0,192
2,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,0,0,0,0,0,0,0,181,181

### **1.2 - ACCES-A-INTER-FIJO-51042**
##### Este dataset muestra por año, trimestre y provincia la cantidad de accesos agrupados por rangos de velocidades. Es posible que no sea usado pues hay otro grafico que muestra esta información de una manera más útil, estos rangos no contemplan velocidades mayores a 30Mbps directamente. <span style="color:#E74C3C;">**Posiblemente no se use**</span>

In [612]:
acces_inter_fijo_51042 = pd.read_excel('data\ACCES-A-INTER-FIJO-51042.xlsx', sheet_name='Accesos por velocidad')
acces_inter_fijo_51042.head(3) 
#No se usará la pestaña de total pues se puede calcular con estos datos.

,Año,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
0,2022,3,Buenos Aires,29985.0,27709.0,290315.0,297915.0,267044.0,124190.0,3618689.0,65821.0,4721668.0
1,2022,3,Capital Federal,517.0,5742.0,34371.0,67829.0,51946.0,28692.0,1253105.0,105477.0,1547679.0
2,2022,3,Catamarca,71.0,384.0,3107.0,5389.0,5099.0,3737.0,50298.0,2208.0,70293.0

### **1.3 - ACCES-A-INTER-FIJO-86398**
##### Este dataset muestra por provincia, localidad y por velocidad de descarga la cantidad de accesos a internet. El dataset es una foto del 3er trimestre de 2022.  Posiblemente se use para análisis por localidad. <span style="color:#1A5276;">**Análisis por Localidad**</span>

In [613]:
acces_inter_fijo_86398 = pd.read_excel('data\ACCES-A-INTER-FIJO-86398.xlsx', sheet_name='internet_Accesos_por_loc')
acces_inter_fijo_86398.head(3)

,Provincia,Partido,Localidad,Link Indec,Otros,"0,256 mbps","0,375 mbps","0,5 mbps","0,512 mbps","0,625 mbps","0,75 mbps",1 mbps,"1,25 mbps","1,5 mbps",2 mbps,"2,2 mbps","2,5 mbps",3 mbps,"3,3 mbps","3,5 mbps",4 mbps,"4,5 mbps",5 mbps,6 mbps,"6,4 mbps",7 mbps,"7,5 mbps",8 mbps,9 mbps,10 mbps,11 mbps,12 mbps,13 mbps,14 mbps,15 mbps,16 mbps,17 mbps,18 mbps,19 mbps,20 mbps,21 mbps,22 mbps,23 mbps,24 mbps,25 mbps,"25,1 mbps","25,11 mbps","25,5 mbps",26 mbps,30 mbps,31 mbps,32 mbps,34 mbps,35 mbps,36 mbps,38 mbps,39 mbps,40 mbps,41 mbps,45 mbps,46 mbps,49 mbps,50 mbps,55 mbps,58 mbps,59 mbps,60 mbps,61 mbps,62 mbps,64 mbps,65 mbps,66 mbps,70 mbps,75 mbps,78 mbps,80 mbps,82 mbps,83 mbps,85 mbps,90 mbps,92 mbps,95 mbps,100 mbps,110 mbps,120 mbps,122 mbps,125 mbps,126 mbps,140 mbps,150 mbps,158 mbps,160 mbps,164 mbps,200 mbps,212 mbps,220 mbps,225 mbps,234 mbps,240 mbps,250 mbps,256 mbps,275 mbps,300 mbps,325 mbps,340 mbps,400 mbps,450 mbps,480 mbps,500 mbps,512 mbps,520 mbps,600 mbps,680 mbps,700 mbps,800 mbps,850 mbps,900 mbps,1000 mbps,1024 mbps
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,NaN,NaN,NaN,2.0,NaN,NaN,19.0,NaN,NaN,NaN,NaN,NaN,NaN,85.0,NaN,145.0,NaN,NaN,NaN,173.0,NaN,NaN,NaN,299.0,NaN,144.0,NaN,4134.0,NaN,NaN,415.0,NaN,NaN,NaN,NaN,604.0,NaN,NaN,NaN,NaN,211.0,NaN,NaN,NaN,NaN,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BUENOS AIRES,25 de Mayo,Agustín Mosconi,6854010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.0,NaN,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BUENOS AIRES,25 de Mayo,Del Valle,6854020,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,181.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### **1.4 - ACCES-A-INTER-FIJO-BANDA**
##### Este dataset muestra por provincia, año y trimestre la cantidad de accesos de Banda Ancha y Dial Up ("Banda Angosta"). En el archivo fuente hay una segunda pestaña de totales la cual no será usada pues solo es una vista de la primera de pestaña. <span style="color:#F39C12;">**Análisis por Provincia**</span>

In [614]:
acces_inter_fijo_banda = pd.read_excel('data\ACCES-A-INTER-FIJO-BANDA.xlsx', sheet_name='Dial-BAf')
acces_inter_fijo_banda.head(3)
#No se usará la pestaña de total pues se puede calcular con estos datos.

    Año  Trimestre        Provincia  Banda ancha fija  Dial up    Total
0  2022          3     Buenos Aires           4715469   6199.0  4721668
1  2022          3  Capital Federal           1545534   2145.0  1547679
2  2022          3        Catamarca             70292      1.0    70293

### **1.5 - ACCES-A-INTER-FIJO-POR** 
##### Este dataset muestra por provincia, año y trimestre la cantidad de accesos a internet por tecnología. En el archivo fuente hay una segunda pestaña de totales la cual no será usada pues solo es una vista de la primera de pestaña. <span style="color:#F39C12;">**Análisis por Provincia**</span>

In [615]:
acces_inter_tecno = pd.read_excel('data\ACCES-A-INTER-FIJO-POR.xlsx', sheet_name='Accesos Por Tecnología')
acces_inter_tecno .head(3)
#No se usará la pestaña de total pues se puede calcular con estos datos.

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2022,3,Buenos Aires,339648.0,2748325.0,1436433.0,126846.0,70416.0,4721668.0
1,2022,3,Capital Federal,140791.0,1240125.0,129218.0,5758.0,31787.0,1547679.0
2,2022,3,Catamarca,10010.0,10495.0,46224.0,1329.0,2235.0,70293.0

### **1.6 - ACCES-POR-VELOC-DE-DESCA** 
##### Este dataset muestra por provincia, año y trimestre la cantidad de accesos a internet por velocidad de descarga. En el archivo fuente hay una segunda pestaña de totales la cual no será usada pues solo es una vista de la primera de pestaña. <span style="color:#F39C12;">**Análisis por Provincia**</span>

In [616]:
acces_inter_vdesc = pd.read_excel('data\ACCES-POR-VELOC-DE-DESCA.xlsx', sheet_name='Velocidad_sin_Rangos')
acces_inter_vdesc.head(3)

,Año,Trimestre,Provincia,Otros,"0,256 Mbps","0,375 Mbps","0,625 Mbps","0,5 Mbps","0,512 Mbps","0,75 Mbps",1 Mbps,"1,2 Mbps","1,25 Mbps","1,5 Mbps",2 Mbps,"2,2 Mbps","2,5 Mbps","6,7 Mbps",3 Mbps,"3,2 Mbps","3,3 Mbps","3,5 Mbps",4 Mbps,"4,5 Mbps",5 Mbps,6 Mbps,"6,4 Mbps",7 Mbps,"7,5 Mbps",8 Mbps,9 Mbps,10 Mbps,"10,6 Mbps",11 Mbps,12 Mbps,13 Mbps,14 Mbps,15 Mbps,16 Mbps,17 Mbps,18 Mbps,19 Mbps,20 Mbps,21 Mbps,22 Mbps,23 Mbps,24 Mbps,25 Mbps,"25,1 Mbps","25,11 Mbps","25,5 Mbps",26 Mbps,28 Mbps,29 Mbps,30 Mbps,31 Mbps,32 Mbps,34 Mbps,35 Mbps,36 Mbps,37 Mbps,38 Mbps,39 Mbps,40 Mbps,41 Mbps,45 Mbps,46 Mbps,47 Mbps,48 Mbps,49 Mbps,50 Mbps,51 Mbps,52 Mbps,54 Mbps,55 Mbps,56 Mbps,58 Mbps,59 Mbps,60 Mbps,61 Mbps,62 Mbps,63 Mbps,64 Mbps,65 Mbps,66 Mbps,67 Mbps,68 Mbps,70 Mbps,71 Mbps,75 Mbps,77 Mbps,78 Mbps,80 Mbps,81 Mbps,83 Mbps,82 Mbps,86 Mbps,84 Mbps,85 Mbps,90 Mbps,91 Mbps,92 Mbps,95 Mbps,98 Mbps,100 Mbps,105 Mbps,109 Mbps,110 Mbps,120 Mbps,122 Mbps,125 Mbps,126 Mbps,127 Mbps,128 Mbps,130 Mbps,131 Mbps,134 Mbps,137 Mbps,140 Mbps,145 Mbps,150 Mbps,158 Mbps,160 Mbps,164 Mbps,200 Mbps,203 Mbps,212 Mbps,220 Mbps,225 Mbps,234 Mbps,240 Mbps,250 Mbps,256 Mbps,270 Mbps,275 Mbps,300 Mbps,325 Mbps,340 Mbps,350 Mbps,380 Mbps,384 Mbps,400 Mbps,450 Mbps,473 Mbps,480 Mbps,500 Mbps,512 Mbps,520 Mbps,600 Mbps,640 Mbps,680 Mbps,700 Mbps,768 Mbps,800 Mbps,850 Mbps,900 Mbps,945 Mbps,1000 Mbps,1024 Mbps,1075 Mbps,1536 Mbps,2000 Mbps,2048 Mbps,2529 Mbps,3072 Mbps,4000 Mbps,5000 Mbps,5125 Mbps,6000 Mbps,7000 Mbps,8000 Mbps,10000 Mbps
0,2022.0,3.0,Buenos Aires,65821.0,19.0,0.0,0.0,29774.0,192.0,4611.0,23098.0,0.0,0.0,351.0,24140.0,0.0,25,0.0,60803.0,0.0,0.0,41976.0,13774.0,65.0,33037.0,116144.0,0.0,11016.0,756.0,70240.0,275.0,215628.0,0.0,10.0,30241.0,128.0,33.0,85776.0,301.0,2.0,15011.0,0.0,135542.0,3.0,1.0,18.0,25.0,68558.0,0.0,0.0,0.0,0.0,0.0,0.0,774648.0,1610.0,7.0,1.0,873.0,0.0,0.0,0.0,0.0,3307.0,9.0,0.0,0.0,0.0,0.0,1.0,959569.0,0.0,0.0,0.0,58.0,0.0,1.0,59.0,405103.0,78.0,1.0,0.0,0.0,14.0,0.0,0.0,0.0,3163.0,0.0,98387.0,0.0,2.0,223.0,0.0,1.0,0.0,0.0,0.0,14.0,3.0,0.0,3.0,0.0,0.0,981246.0,0.0,0.0,0.0,308.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,229085.0,1.0,6.0,0.0,797.0,0.0,1.0,0.0,0.0,39.0,38.0,8.0,13.0,0.0,0.0,181755.0,0.0,4.0,0.0,0.0,0.0,1.0,0.0,0.0,5.0,15768.0,29.0,0.0,309.0,0.0,0.0,0.0,0.0,546.0,0.0,0.0,0.0,17177.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2022.0,3.0,Capital Federal,105477.0,31.0,0.0,0.0,451.0,35.0,1307.0,4435.0,0.0,0.0,0.0,329.0,0.0,0,0.0,4539.0,0.0,0.0,11975.0,991.0,0.0,3363.0,13174.0,0.0,7.0,0.0,16652.0,3.0,51167.0,0.0,5.0,3423.0,0.0,0.0,29793.0,5.0,0.0,11880.0,0.0,6840.0,1.0,0.0,0.0,0.0,22894.0,0.0,0.0,0.0,0.0,0.0,0.0,58853.0,0.0,0.0,0.0,9.0,0.0,0.0,0.0,30.0,122.0,0.0,0.0,0.0,0.0,0.0,0.0,361025.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,97849.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,3.0,0.0,30482.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,490536.0,0.0,0.0,1.0,5.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,70151.0,0.0,5.0,0.0,2603.0,0.0,0.0,1.0,1.0,0.0,0.0,1399.0,0.0,0.0,1.0,125604.0,2.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,5596.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,14607.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2022.0,3.0,Catamarca,2208.0,0.0,0.0,0.0,34.0,37.0,0.0,384.0,0.0,0.0,0.0,115.0,0.0,0,0.0,1147.0,0.0,0.0,0.0,0.0,0.0,18.0,1827.0,0.0,2.0,0.0,0.0,0.0,5387.0,0.0,0.0,637.0,0.0,0.0,776.0,0.0,0.0,0.0,0.0,3686.0,0.0,0.0,0.0,2622.0,210.0,0.0,0.0,0.0,0.0,0.0,0.0,905.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,31597.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16458.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,42.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2200.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### **1.7 - CONEC-AL-SERVI-DE-INTER** 
##### Este dataset muestra por localidad cuales tecnologías están presentes además de su geolocalización, esta información ya la tenemos en otro dataset. Solo será usado para obtener las coordenadas <span style="color:#1A5276;">**Análisis por Localidad**</span>

In [617]:
conect_servi_inter = pd.read_excel('data\CONEC-AL-SERVI-DE-INTER.xlsx', sheet_name='Hoja3')
conect_servi_inter.head(3)

,Provincia,Partido,Localidad,Poblacion,ADSL,CABLEMODEM,DIALUP,FIBRAOPTICA,SATELITAL,WIRELESS,TELEFONIAFIJA,3G,4G,link,Latitud,Longitud
0,BUENOS AIRES,Bahía Blanca,Villa Bordeau,0,--,--,--,--,--,--,--,SI,SI,6056020.0,"-38,6472605094596","-62,3200223419024"
1,BUENOS AIRES,Bahía Blanca,Villa Espora,0,--,--,--,--,--,--,--,--,--,6056020.0,"-38,7765069529222","-62,1851833537179"
2,BUENOS AIRES,Balcarce,Balcarce,38376,SI,SI,SI,SI,--,SI,SI,SI,SI,6063010.0,"-37,8482779294345","-58,2551665841248"

### **1.8 - INGRE-POR-LA-OPERA-DEL** 
##### Este dataset muestra de manera global los ingresos por año y trimestre.  <span style="color:#138D75;">**Análisis Global**</span>

In [618]:
ingre_por_trim = pd.read_excel('data\INGRE-POR-LA-OPERA-DEL.xlsx', sheet_name='Ingresos')
ingre_por_trim.head(3)

    Año  Trimestre  Ingresos (miles de pesos)        Periodo
0  2022          3               6.705593e+07  Jul-Sept 2022
1  2022          2               6.033572e+07   Abr-Jun 2022
2  2022          1               5.559000e+07   Ene-Mar 2022

### **1.9 - PENET-DEL-SERVI-DE-INTER** 
##### Este dataset muestra por provincias la penetración de internet fijo.  <span style="color:#F39C12;">**Análisis por Provincia**</span>

In [619]:
pent_por_pob = pd.read_excel('data\PENET-DEL-SERVI-DE-INTER.xlsx', sheet_name='Penetración-poblacion')
pent_por_pob.head(3)
#No se usará la pestaña de total pues se puede calcular con estos datos.

    Año  Trimestre        Provincia  Accesos por cada 100 hab
0  2022          3     Buenos Aires                     26.37
1  2022          3  Capital Federal                     50.22
2  2022          3        Catamarca                     16.62

In [620]:
pent_por_hog = pd.read_excel('data\PENET-DEL-SERVI-DE-INTER.xlsx', sheet_name='Penetracion-hogares')
pent_por_hog.head(3)
#No se usará la pestaña de total pues se puede calcular con estos datos.

    Año  Trimestre        Provincia  Accesos por cada 100 hogares
0  2022          3     Buenos Aires                         78.11
1  2022          3  Capital Federal                        122.28
2  2022          3        Catamarca                         65.33

### **1.10 - VELOC-PROME-DE-BAJAD-DE** 
##### Este dataset muestra por provincias y de manera global la velocidad media de descarga.  <span style="color:#F39C12;">**Análisis por Provincia**</span> / <span style="color:#138D75;">**Análisis Global**</span>

Parte A - Provincias

In [621]:
veloc_prome_desc_prov = pd.read_excel('data\VELOC-PROME-DE-BAJAD-DE.xlsx', sheet_name='Velocidad % por prov')
veloc_prome_desc_prov.head(3)

    Año  Trimestre        Provincia  Mbps (Media de bajada)
0  2022          3     Buenos Aires                   70.19
1  2022          3  Capital Federal                  101.05
2  2022          3        Catamarca                   60.99

Parte B - Global

In [622]:
veloc_prome_desc_total = pd.read_excel('data\VELOC-PROME-DE-BAJAD-DE.xlsx', sheet_name='Totales')
veloc_prome_desc_total.head(3)

    Año  Trimestre  Mbps (Media de bajada)    Trimestre.1
0  2022          3                   62.46  Jul-Sept 2022
1  2022          2                   58.44   Abr-Jun 2022
2  2022          1                   55.11   Ene-Mar 2022

### **1.11 - Provincias (dataset extraído de Wikipedia)** 
##### Este dataset muestra las provincias y la región a la cual pertenece cada una  <span style="color:#F39C12;">**Análisis por Provincia**</span>
###

In [623]:
provincias = pd.read_excel('data\provincias_localidades_coorde.xlsx', sheet_name='Provincias')
provincias.head(3)

      Provincia                     Region
0  Buenos Aires  Provincia de Buenos Aires
1     Catamarca     Norte Grande Argentino
2         Chaco     Norte Grande Argentino

# **<span style="color: #800080; font-size: 36px;">2- Transformaciones :</span>**

## **<span style="color: #DDA0DD; font-size: 30px;">2.1 - Datasets para Análisis por: </span>**<span style="color:#1A5276;">**Localidad**</span>

### **2.1.1 - ACCES-A-INTER-FIJO-46973**

In [624]:
acces_inter_fijo_46973.head(3)

,Provincia,Partido,Localidad,Link Indec,ADSL,CABLEMODEM,DIAL UP,FIBRA OPTICA,OTROS,SATELITAL,WIMAX,WIRELESS,Total general
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,873,4704,0,2,0,975,0,664,7218
1,BUENOS AIRES,25 de Mayo,Del Valle,6854020,181,0,0,0,10,1,0,0,192
2,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,0,0,0,0,0,0,0,181,181

En la siguiente celda se van a estandarizar los nombres de las provincias, luego se le agregará la región a la que corresponde para hacer estudios por región, se renombrarán las columnas para no tener mayúsculas ni espacios y finalmente se eliminarán las columnas que no serán utilizadas en este análisis.

In [625]:
#Estandarizar nombres de provincias
acces_inter_fijo_46973['Provincia'] = acces_inter_fijo_46973['Provincia'].apply(lambda x: etl.transf_provincias(x))
acces_inter_fijo_46973 = acces_inter_fijo_46973.merge(provincias[['Provincia', 'Region']], on='Provincia', how='left') #agregar la región 						
#reordenar columnas
acces_inter_fijo_46973 = acces_inter_fijo_46973[['Provincia', 'Region', 'Partido', 'Localidad', 'Link Indec', 'ADSL', 'CABLEMODEM', 'DIAL UP', 'FIBRA OPTICA', 'OTROS', 'SATELITAL', 'WIMAX', 'WIRELESS', 'Total general']]
#Eliminar columnas que no se usarán en el alcance del estudio.
acces_inter_fijo_46973 = acces_inter_fijo_46973.drop(['Partido','Link Indec'], axis=1)
#Renombrar para no tener mayusculas:
acces_inter_fijo_46973 = acces_inter_fijo_46973.rename(columns={'Provincia':'provincia','Region':'region','Localidad':'localidad', 'ADSL':'adsl','CABLEMODEM':'cableModem', 'DIAL UP':'dialUp', 'FIBRA OPTICA':'fibraOptica', 'OTROS':'otros_tec', 'SATELITAL':'satelital', 'WIMAX':'wimax', 'WIRELESS':'wireless', 'Total general':'totalTecnologia'})
#Transformar las localidades para poder usarlas
acces_inter_fijo_46973['localidad'] = acces_inter_fijo_46973['localidad'].apply(lambda x: etl.transf_localidades(x))
#Eliminar los registros en donde localidad tenga el valor 'Otros':
acces_inter_fijo_46973 = acces_inter_fijo_46973[acces_inter_fijo_46973['localidad'] != 'Otros']
#Agrupar localidades que están en diferentes registros
acces_inter_fijo_46973 = acces_inter_fijo_46973.groupby(['provincia', 'region', 'localidad']).sum().reset_index()

Chequear tipos de datos y valores nulos.

In [626]:
acces_inter_fijo_46973.dtypes  #Tipos de datos adecuados.

provincia          object
region             object
localidad          object
adsl                int64
cableModem          int64
dialUp              int64
fibraOptica         int64
otros_tec           int64
satelital           int64
wimax               int64
wireless            int64
totalTecnologia     int64
dtype: object

In [627]:
acces_inter_fijo_46973.isnull().sum() # No tiene valores nulos.

provincia          0
region             0
localidad          0
adsl               0
cableModem         0
dialUp             0
fibraOptica        0
otros_tec          0
satelital          0
wimax              0
wireless           0
totalTecnologia    0
dtype: int64

In [628]:
acces_inter_fijo_46973.shape

(2975, 12)

In [629]:
#vista del dataset:
acces_inter_fijo_46973.head(5)

,provincia,region,localidad,adsl,cableModem,dialUp,fibraOptica,otros_tec,satelital,wimax,wireless,totalTecnologia
0,Buenos Aires,Provincia de Buenos Aires,11 De Septiembre,34,1181,0,5,1,1,0,0,1222
1,Buenos Aires,Provincia de Buenos Aires,12 De Octubre,0,0,0,0,0,0,0,19,19
2,Buenos Aires,Provincia de Buenos Aires,20 De Junio,26,682,4,0,0,0,0,1,713
3,Buenos Aires,Provincia de Buenos Aires,25 De Mayo,873,4704,0,2,0,975,0,664,7218
4,Buenos Aires,Provincia de Buenos Aires,30 De Agosto,0,184,0,1396,2376,0,0,0,3956

### **2.1.2 - ACCES-A-INTER-FIJO-86398**

In [630]:
acces_inter_fijo_86398.head(3)

,Provincia,Partido,Localidad,Link Indec,Otros,"0,256 mbps","0,375 mbps","0,5 mbps","0,512 mbps","0,625 mbps","0,75 mbps",1 mbps,"1,25 mbps","1,5 mbps",2 mbps,"2,2 mbps","2,5 mbps",3 mbps,"3,3 mbps","3,5 mbps",4 mbps,"4,5 mbps",5 mbps,6 mbps,"6,4 mbps",7 mbps,"7,5 mbps",8 mbps,9 mbps,10 mbps,11 mbps,12 mbps,13 mbps,14 mbps,15 mbps,16 mbps,17 mbps,18 mbps,19 mbps,20 mbps,21 mbps,22 mbps,23 mbps,24 mbps,25 mbps,"25,1 mbps","25,11 mbps","25,5 mbps",26 mbps,30 mbps,31 mbps,32 mbps,34 mbps,35 mbps,36 mbps,38 mbps,39 mbps,40 mbps,41 mbps,45 mbps,46 mbps,49 mbps,50 mbps,55 mbps,58 mbps,59 mbps,60 mbps,61 mbps,62 mbps,64 mbps,65 mbps,66 mbps,70 mbps,75 mbps,78 mbps,80 mbps,82 mbps,83 mbps,85 mbps,90 mbps,92 mbps,95 mbps,100 mbps,110 mbps,120 mbps,122 mbps,125 mbps,126 mbps,140 mbps,150 mbps,158 mbps,160 mbps,164 mbps,200 mbps,212 mbps,220 mbps,225 mbps,234 mbps,240 mbps,250 mbps,256 mbps,275 mbps,300 mbps,325 mbps,340 mbps,400 mbps,450 mbps,480 mbps,500 mbps,512 mbps,520 mbps,600 mbps,680 mbps,700 mbps,800 mbps,850 mbps,900 mbps,1000 mbps,1024 mbps
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,NaN,NaN,NaN,2.0,NaN,NaN,19.0,NaN,NaN,NaN,NaN,NaN,NaN,85.0,NaN,145.0,NaN,NaN,NaN,173.0,NaN,NaN,NaN,299.0,NaN,144.0,NaN,4134.0,NaN,NaN,415.0,NaN,NaN,NaN,NaN,604.0,NaN,NaN,NaN,NaN,211.0,NaN,NaN,NaN,NaN,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BUENOS AIRES,25 de Mayo,Agustín Mosconi,6854010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.0,NaN,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BUENOS AIRES,25 de Mayo,Del Valle,6854020,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,181.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [631]:
#Crear rangos para las velocidades:
#1er rango de 0 a 9 Mbps
columnas_0a9 = ['0,256 mbps','0,375 mbps','0,5 mbps','0,512 mbps','0,625 mbps','0,75 mbps','1 mbps','1,25 mbps','1,5 mbps','2 mbps','2,2 mbps','2,5 mbps','3 mbps','3,3 mbps','3,5 mbps','4 mbps','4,5 mbps','5 mbps','6 mbps','6,4 mbps','7 mbps','7,5 mbps','8 mbps','9 mbps']
acces_inter_fijo_86398['0a9Mbps'] = acces_inter_fijo_86398[columnas_0a9].sum(axis=1)
acces_inter_fijo_86398 = acces_inter_fijo_86398.drop(columnas_0a9, axis=1)
#2do rango de 10 a 20 Mbps
columnas_10a20 = ['10 mbps','11 mbps','12 mbps','13 mbps','14 mbps','15 mbps','16 mbps','17 mbps','18 mbps','19 mbps','20 mbps']
acces_inter_fijo_86398['10a20Mbps'] = acces_inter_fijo_86398[columnas_10a20].sum(axis=1)
acces_inter_fijo_86398 = acces_inter_fijo_86398.drop(columnas_10a20, axis=1)
#3er rango de 21 a 49 Mbps
columnas_21a49 = ['21 mbps', '22 mbps', '23 mbps', '24 mbps', '25 mbps', '25,1 mbps', '25,11 mbps', '25,5 mbps', '26 mbps', '30 mbps', '31 mbps', '32 mbps', '34 mbps', '35 mbps', '36 mbps', '38 mbps', '39 mbps', '40 mbps', '41 mbps', '45 mbps', '46 mbps', '49 mbps']
acces_inter_fijo_86398['21a49Mbps'] = acces_inter_fijo_86398[columnas_21a49].sum(axis=1)
acces_inter_fijo_86398 = acces_inter_fijo_86398.drop(columnas_21a49, axis=1)
#4to rango de 50 a 99 Mbps
columnas_50a99 = ['50 mbps', '55 mbps', '58 mbps', '59 mbps', '60 mbps', '61 mbps', '62 mbps', '64 mbps', '65 mbps', '66 mbps', '70 mbps', '75 mbps', '78 mbps', '80 mbps', '82 mbps', '83 mbps', '85 mbps', '90 mbps', '92 mbps', '95 mbps']
acces_inter_fijo_86398['50a99Mbps'] = acces_inter_fijo_86398[columnas_50a99].sum(axis=1)
acces_inter_fijo_86398 = acces_inter_fijo_86398.drop(columnas_50a99, axis=1)
#5to rango de 100 a 199 Mbps
columnas_100a199 = ['100 mbps', '110 mbps', '120 mbps', '122 mbps', '125 mbps', '126 mbps', '140 mbps', '150 mbps', '158 mbps', '160 mbps', '164 mbps']
acces_inter_fijo_86398['100a199Mbps'] = acces_inter_fijo_86398[columnas_100a199].sum(axis=1)
acces_inter_fijo_86398 = acces_inter_fijo_86398.drop(columnas_100a199, axis=1)
#6to rango de 200 a 499 Mbps
columnas_200a499 = ['200 mbps', '212 mbps', '220 mbps', '225 mbps', '234 mbps', '240 mbps', '250 mbps', '256 mbps', '275 mbps', '300 mbps', '325 mbps', '340 mbps', '400 mbps', '450 mbps', '480 mbps']
acces_inter_fijo_86398['200a499Mbps'] = acces_inter_fijo_86398[columnas_200a499].sum(axis=1)
acces_inter_fijo_86398 = acces_inter_fijo_86398.drop(columnas_200a499, axis=1)
#7mo rango de 500 a 1024 Mbps
columnas_500a1024 = ['500 mbps', '512 mbps', '520 mbps', '600 mbps', '680 mbps', '700 mbps', '800 mbps', '850 mbps', '900 mbps', '1000 mbps', '1024 mbps']
acces_inter_fijo_86398['500a1024Mbps'] = acces_inter_fijo_86398[columnas_500a1024].sum(axis=1)
acces_inter_fijo_86398 = acces_inter_fijo_86398.drop(columnas_500a1024, axis=1)
#8vo Otros
acces_inter_fijo_86398['otros'] = acces_inter_fijo_86398['Otros']
acces_inter_fijo_86398 = acces_inter_fijo_86398.drop('Otros', axis=1)

En la siguiente celda se van a estandarizar los nombres de las provincias, luego se le agregará la región a la que corresponde para hacer estudios por región, se renombrarán las columnas para no tener mayúsculas ni espacios y finalmente se eliminarán las columnas que no serán utilizadas en este análisis.

In [632]:
#Estandarizar nombres de provincias
acces_inter_fijo_86398['Provincia'] = acces_inter_fijo_86398['Provincia'].apply(lambda x: etl.transf_provincias(x))
acces_inter_fijo_86398 = acces_inter_fijo_86398.merge(provincias[['Provincia', 'Region']], on='Provincia', how='left') #agregar la región 						
#reordenar columnas
acces_inter_fijo_86398 = acces_inter_fijo_86398[['Provincia', 'Region', 'Partido', 'Localidad', 'Link Indec', '0a9Mbps','10a20Mbps', '21a49Mbps', '50a99Mbps', '100a199Mbps', '200a499Mbps','500a1024Mbps', 'otros']]
#Eliminar columnas que no se usarán en el alcance del estudio.
acces_inter_fijo_86398 = acces_inter_fijo_86398.drop(['Partido','Link Indec'], axis=1)
#Renombrar para no tener mayusculas:
acces_inter_fijo_86398 = acces_inter_fijo_86398.rename(columns={'Provincia':'provincia', 'Region':'region', 'Localidad':'localidad'})
acces_inter_fijo_86398 = acces_inter_fijo_86398.fillna(0)
lista_86398 = ['0a9Mbps','10a20Mbps', '21a49Mbps', '50a99Mbps', '100a199Mbps', '200a499Mbps','500a1024Mbps', 'otros']
acces_inter_fijo_86398[lista_86398] = acces_inter_fijo_86398[lista_86398].astype('int')
#Transformar las localidades para poder usarlas
acces_inter_fijo_86398['localidad'] = acces_inter_fijo_86398['localidad'].apply(lambda x: etl.transf_localidades(x))
#Eliminar los registros en donde localidad tenga el valor 'Otros':
acces_inter_fijo_86398 = acces_inter_fijo_86398[acces_inter_fijo_86398['localidad'] != 'Otros']
#Agrupar localidades que están en diferentes registros
acces_inter_fijo_86398 = acces_inter_fijo_86398.groupby(['provincia', 'region', 'localidad']).sum().reset_index()

In [633]:
acces_inter_fijo_86398.dtypes #Tipo de datos esperados

provincia       object
region          object
localidad       object
0a9Mbps          int32
10a20Mbps        int32
21a49Mbps        int32
50a99Mbps        int32
100a199Mbps      int32
200a499Mbps      int32
500a1024Mbps     int32
otros            int32
dtype: object

In [634]:
acces_inter_fijo_86398.isnull().sum().sort_values(ascending=False) #No hay valores nulos

provincia       0
region          0
localidad       0
0a9Mbps         0
10a20Mbps       0
21a49Mbps       0
50a99Mbps       0
100a199Mbps     0
200a499Mbps     0
500a1024Mbps    0
otros           0
dtype: int64

In [635]:
#vista del dataset:
acces_inter_fijo_86398.head(3)

,provincia,region,localidad,0a9Mbps,10a20Mbps,21a49Mbps,50a99Mbps,100a199Mbps,200a499Mbps,500a1024Mbps,otros
0,Buenos Aires,Provincia de Buenos Aires,11 De Septiembre,32,30,11,518,549,67,14,1
1,Buenos Aires,Provincia de Buenos Aires,12 De Octubre,11,0,0,0,0,0,0,0
2,Buenos Aires,Provincia de Buenos Aires,20 De Junio,21,28,3,319,306,20,13,0

### **2.1.3 - CONEC-AL-SERVI-DE-INTER**

In [636]:
conect_servi_inter.head(3)

,Provincia,Partido,Localidad,Poblacion,ADSL,CABLEMODEM,DIALUP,FIBRAOPTICA,SATELITAL,WIRELESS,TELEFONIAFIJA,3G,4G,link,Latitud,Longitud
0,BUENOS AIRES,Bahía Blanca,Villa Bordeau,0,--,--,--,--,--,--,--,SI,SI,6056020.0,"-38,6472605094596","-62,3200223419024"
1,BUENOS AIRES,Bahía Blanca,Villa Espora,0,--,--,--,--,--,--,--,--,--,6056020.0,"-38,7765069529222","-62,1851833537179"
2,BUENOS AIRES,Balcarce,Balcarce,38376,SI,SI,SI,SI,--,SI,SI,SI,SI,6063010.0,"-37,8482779294345","-58,2551665841248"

En la siguiente celda se van a estandarizar los nombres de las provincias, luego se le agregará la región a la que corresponde para hacer estudios por región, se renombrarán las columnas para no tener mayúsculas ni espacios y finalmente se eliminarán las columnas que no serán utilizadas en este análisis.

In [637]:
#Estandarizar nombres de provincias
conect_servi_inter['Provincia'] = conect_servi_inter['Provincia'].apply(lambda x: etl.transf_provincias(x))
conect_servi_inter = conect_servi_inter.merge(provincias[['Provincia', 'Region']], on='Provincia', how='left') #agregar la región 						
#Eliminar columnas que no se usarán en el alcance del estudio.
conect_servi_inter = conect_servi_inter.drop(['Partido', 'link', 'Poblacion','ADSL','CABLEMODEM','DIALUP','FIBRAOPTICA','SATELITAL','WIRELESS','TELEFONIAFIJA','3G','4G'], axis=1)
#reordenar columnas
conect_servi_inter = conect_servi_inter[['Provincia','Region','Localidad','Latitud','Longitud']]
#Renombrar para no tener mayusculas:
conect_servi_inter = conect_servi_inter.rename(columns={'Provincia':'provincia','Region':'region','Localidad':'localidad','Latitud':'latitud','Longitud':'longitud'})
#Transformar las localidades para poder usarlas
conect_servi_inter['localidad'] = conect_servi_inter['localidad'].apply(lambda x: etl.transf_localidades(x))
#Eliminar los registros en donde localidad tenga el valor 'Otros':
conect_servi_inter = conect_servi_inter[conect_servi_inter['localidad'] != 'Otros']
#Eliminar los registros duplicados:
conect_servi_inter = conect_servi_inter.drop_duplicates(subset=['provincia', 'region', 'localidad'])

In [638]:
conect_servi_inter.isna().sum().sort_values(ascending=False) #Sin nulos

provincia    0
region       0
localidad    0
latitud      0
longitud     0
dtype: int64

In [639]:
conect_servi_inter.dtypes #Tipos de datos esperados

provincia    object
region       object
localidad    object
latitud      object
longitud     object
dtype: object

In [640]:
conect_servi_inter.head(3)

,provincia,region,localidad,latitud,longitud
0,Buenos Aires,Provincia de Buenos Aires,Villa Bordeau,"-38,6472605094596","-62,3200223419024"
1,Buenos Aires,Provincia de Buenos Aires,Villa Espora,"-38,7765069529222","-62,1851833537179"
2,Buenos Aires,Provincia de Buenos Aires,Balcarce,"-37,8482779294345","-58,2551665841248"

## **<span style="color: #DDA0DD; font-size: 30px;">2.2 - Datasets para Análisis por: </span>**<span style="color:#F39C12;">**Provincia**</span>

### **2.2.1 - ACCES-A-INTER-FIJO-BANDA**

In [641]:
acces_inter_fijo_banda.head(3)

    Año  Trimestre        Provincia  Banda ancha fija  Dial up    Total
0  2022          3     Buenos Aires           4715469   6199.0  4721668
1  2022          3  Capital Federal           1545534   2145.0  1547679
2  2022          3        Catamarca             70292      1.0    70293

En la siguiente celda se van a estandarizar los nombres de las provincias, luego se le agregará la región a la que corresponde para hacer estudios por región y se renombrarán las columnas para no tener mayúsculas ni caracteres especiales.

In [642]:
#Estandarizar nombres de provincias
acces_inter_fijo_banda['Provincia'] = acces_inter_fijo_banda['Provincia'].apply(lambda x: etl.transf_provincias(x))
acces_inter_fijo_banda = acces_inter_fijo_banda.merge(provincias[['Provincia', 'Region']], on='Provincia', how='left') #agregar la región 						
#reordenar columnas
acces_inter_fijo_banda = acces_inter_fijo_banda[['Año', 'Trimestre', 'Provincia','Region','Banda ancha fija', 'Dial up', 'Total' ]]
#Renombrar para no tener mayusculas:
acces_inter_fijo_banda = acces_inter_fijo_banda.rename(columns={'Año':'anio','Trimestre':'trimestre','Provincia':'provincia','Region':'region', 'Banda ancha fija':'bandaAnchaFija','Dial up':'dialUp','Total':'total_ba_du'})
#Rellenar con 0 los nulos
acces_inter_fijo_banda = acces_inter_fijo_banda.fillna(0)
#Cambiar el tipo de dato a enteros:
acces_inter_fijo_banda['dialUp'] = acces_inter_fijo_banda['dialUp'].astype('int64')

In [643]:
acces_inter_fijo_banda.dtypes #tipo de datos esperado

anio               int64
trimestre          int64
provincia         object
region            object
bandaAnchaFija     int64
dialUp             int64
total_ba_du        int64
dtype: object

In [644]:
acces_inter_fijo_banda.isna().sum() #no hay valores nulos

anio              0
trimestre         0
provincia         0
region            0
bandaAnchaFija    0
dialUp            0
total_ba_du       0
dtype: int64

In [645]:
#vista del dataset:
acces_inter_fijo_banda.head(3)

,anio,trimestre,provincia,region,bandaAnchaFija,dialUp,total_ba_du
0,2022,3,Buenos Aires,Provincia de Buenos Aires,4715469,6199,4721668
1,2022,3,Ciudad De Buenos Aires,Provincia de Buenos Aires,1545534,2145,1547679
2,2022,3,Catamarca,Norte Grande Argentino,70292,1,70293

### **2.2.2 - ACCES-A-INTER-FIJO-POR**

In [646]:
acces_inter_tecno.head(3)

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2022,3,Buenos Aires,339648.0,2748325.0,1436433.0,126846.0,70416.0,4721668.0
1,2022,3,Capital Federal,140791.0,1240125.0,129218.0,5758.0,31787.0,1547679.0
2,2022,3,Catamarca,10010.0,10495.0,46224.0,1329.0,2235.0,70293.0

En la siguiente celda se van a estandarizar los nombres de las provincias, luego se le agregará la región a la que corresponde para hacer estudios por región y se renombrarán las columnas para no tener mayúsculas ni caracteres especiales.

In [647]:
#Eliminar la última fila que tiene una nota que no se usará:
acces_inter_tecno = acces_inter_tecno.drop(acces_inter_tecno.index[-2:])
#Reparar filas con errores:
acces_inter_tecno['Año'] = acces_inter_tecno['Año'].replace('2019 *', 2019)
acces_inter_tecno['Trimestre'] = acces_inter_tecno['Trimestre'].replace({re.escape('1 *'): '1', re.escape('2 *'): '2', re.escape('3 *'): '3'}, regex=True)
#Estandarizar nombres de provincias
acces_inter_tecno['Provincia'] = acces_inter_tecno['Provincia'].apply(lambda x: etl.transf_provincias(x))
acces_inter_tecno = acces_inter_tecno.merge(provincias[['Provincia', 'Region']], on='Provincia', how='left') #agregar la región 						
#reordenar columnas
acces_inter_tecno = acces_inter_tecno[['Año','Trimestre','Provincia','Region','ADSL','Cablemodem','Fibra óptica', 'Wireless','Otros','Total']]
#Renombrar para no tener mayusculas:
acces_inter_tecno = acces_inter_tecno.rename(columns={'Año':'anio','Trimestre':'trimestre','Provincia':'provincia','Region':'region','ADSL':'adsl','Cablemodem':'cableModem','Fibra óptica':'fibraOptica', 'Wireless':'wireless','Otros':'otras_tecno','Total':'total_tec'})
#Cambiar tipo de datos:
acces_inter_tecno['trimestre'] = acces_inter_tecno['trimestre'].astype('int64')

In [648]:
acces_inter_tecno.dtypes #tipos de dato esperados

anio             int64
trimestre        int64
provincia       object
region          object
adsl           float64
cableModem     float64
fibraOptica    float64
wireless       float64
otras_tecno    float64
total_tec      float64
dtype: object

In [649]:
acces_inter_tecno.isna().sum() #No hay nulos

anio           0
trimestre      0
provincia      0
region         0
adsl           0
cableModem     0
fibraOptica    0
wireless       0
otras_tecno    0
total_tec      0
dtype: int64

In [650]:
acces_inter_tecno.head(3)

,anio,trimestre,provincia,region,adsl,cableModem,fibraOptica,wireless,otras_tecno,total_tec
0,2022,3,Buenos Aires,Provincia de Buenos Aires,339648.0,2748325.0,1436433.0,126846.0,70416.0,4721668.0
1,2022,3,Ciudad De Buenos Aires,Provincia de Buenos Aires,140791.0,1240125.0,129218.0,5758.0,31787.0,1547679.0
2,2022,3,Catamarca,Norte Grande Argentino,10010.0,10495.0,46224.0,1329.0,2235.0,70293.0

### **2.2.3 - ACCES-POR-VELOC-DE-DESCA**

In [651]:
acces_inter_vdesc.head(3)

,Año,Trimestre,Provincia,Otros,"0,256 Mbps","0,375 Mbps","0,625 Mbps","0,5 Mbps","0,512 Mbps","0,75 Mbps",1 Mbps,"1,2 Mbps","1,25 Mbps","1,5 Mbps",2 Mbps,"2,2 Mbps","2,5 Mbps","6,7 Mbps",3 Mbps,"3,2 Mbps","3,3 Mbps","3,5 Mbps",4 Mbps,"4,5 Mbps",5 Mbps,6 Mbps,"6,4 Mbps",7 Mbps,"7,5 Mbps",8 Mbps,9 Mbps,10 Mbps,"10,6 Mbps",11 Mbps,12 Mbps,13 Mbps,14 Mbps,15 Mbps,16 Mbps,17 Mbps,18 Mbps,19 Mbps,20 Mbps,21 Mbps,22 Mbps,23 Mbps,24 Mbps,25 Mbps,"25,1 Mbps","25,11 Mbps","25,5 Mbps",26 Mbps,28 Mbps,29 Mbps,30 Mbps,31 Mbps,32 Mbps,34 Mbps,35 Mbps,36 Mbps,37 Mbps,38 Mbps,39 Mbps,40 Mbps,41 Mbps,45 Mbps,46 Mbps,47 Mbps,48 Mbps,49 Mbps,50 Mbps,51 Mbps,52 Mbps,54 Mbps,55 Mbps,56 Mbps,58 Mbps,59 Mbps,60 Mbps,61 Mbps,62 Mbps,63 Mbps,64 Mbps,65 Mbps,66 Mbps,67 Mbps,68 Mbps,70 Mbps,71 Mbps,75 Mbps,77 Mbps,78 Mbps,80 Mbps,81 Mbps,83 Mbps,82 Mbps,86 Mbps,84 Mbps,85 Mbps,90 Mbps,91 Mbps,92 Mbps,95 Mbps,98 Mbps,100 Mbps,105 Mbps,109 Mbps,110 Mbps,120 Mbps,122 Mbps,125 Mbps,126 Mbps,127 Mbps,128 Mbps,130 Mbps,131 Mbps,134 Mbps,137 Mbps,140 Mbps,145 Mbps,150 Mbps,158 Mbps,160 Mbps,164 Mbps,200 Mbps,203 Mbps,212 Mbps,220 Mbps,225 Mbps,234 Mbps,240 Mbps,250 Mbps,256 Mbps,270 Mbps,275 Mbps,300 Mbps,325 Mbps,340 Mbps,350 Mbps,380 Mbps,384 Mbps,400 Mbps,450 Mbps,473 Mbps,480 Mbps,500 Mbps,512 Mbps,520 Mbps,600 Mbps,640 Mbps,680 Mbps,700 Mbps,768 Mbps,800 Mbps,850 Mbps,900 Mbps,945 Mbps,1000 Mbps,1024 Mbps,1075 Mbps,1536 Mbps,2000 Mbps,2048 Mbps,2529 Mbps,3072 Mbps,4000 Mbps,5000 Mbps,5125 Mbps,6000 Mbps,7000 Mbps,8000 Mbps,10000 Mbps
0,2022.0,3.0,Buenos Aires,65821.0,19.0,0.0,0.0,29774.0,192.0,4611.0,23098.0,0.0,0.0,351.0,24140.0,0.0,25,0.0,60803.0,0.0,0.0,41976.0,13774.0,65.0,33037.0,116144.0,0.0,11016.0,756.0,70240.0,275.0,215628.0,0.0,10.0,30241.0,128.0,33.0,85776.0,301.0,2.0,15011.0,0.0,135542.0,3.0,1.0,18.0,25.0,68558.0,0.0,0.0,0.0,0.0,0.0,0.0,774648.0,1610.0,7.0,1.0,873.0,0.0,0.0,0.0,0.0,3307.0,9.0,0.0,0.0,0.0,0.0,1.0,959569.0,0.0,0.0,0.0,58.0,0.0,1.0,59.0,405103.0,78.0,1.0,0.0,0.0,14.0,0.0,0.0,0.0,3163.0,0.0,98387.0,0.0,2.0,223.0,0.0,1.0,0.0,0.0,0.0,14.0,3.0,0.0,3.0,0.0,0.0,981246.0,0.0,0.0,0.0,308.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,229085.0,1.0,6.0,0.0,797.0,0.0,1.0,0.0,0.0,39.0,38.0,8.0,13.0,0.0,0.0,181755.0,0.0,4.0,0.0,0.0,0.0,1.0,0.0,0.0,5.0,15768.0,29.0,0.0,309.0,0.0,0.0,0.0,0.0,546.0,0.0,0.0,0.0,17177.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2022.0,3.0,Capital Federal,105477.0,31.0,0.0,0.0,451.0,35.0,1307.0,4435.0,0.0,0.0,0.0,329.0,0.0,0,0.0,4539.0,0.0,0.0,11975.0,991.0,0.0,3363.0,13174.0,0.0,7.0,0.0,16652.0,3.0,51167.0,0.0,5.0,3423.0,0.0,0.0,29793.0,5.0,0.0,11880.0,0.0,6840.0,1.0,0.0,0.0,0.0,22894.0,0.0,0.0,0.0,0.0,0.0,0.0,58853.0,0.0,0.0,0.0,9.0,0.0,0.0,0.0,30.0,122.0,0.0,0.0,0.0,0.0,0.0,0.0,361025.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,97849.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,3.0,0.0,30482.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,490536.0,0.0,0.0,1.0,5.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,70151.0,0.0,5.0,0.0,2603.0,0.0,0.0,1.0,1.0,0.0,0.0,1399.0,0.0,0.0,1.0,125604.0,2.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,5596.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,14607.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2022.0,3.0,Catamarca,2208.0,0.0,0.0,0.0,34.0,37.0,0.0,384.0,0.0,0.0,0.0,115.0,0.0,0,0.0,1147.0,0.0,0.0,0.0,0.0,0.0,18.0,1827.0,0.0,2.0,0.0,0.0,0.0,5387.0,0.0,0.0,637.0,0.0,0.0,776.0,0.0,0.0,0.0,0.0,3686.0,0.0,0.0,0.0,2622.0,210.0,0.0,0.0,0.0,0.0,0.0,0.0,905.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,31597.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16458.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,42.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2200.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Primero vamos a crear rangos para que la data sea más fácil de manejar.

In [652]:
#Crear rangos para las velocidades:
#1er rango de 0 a 9 Mbps
columnas_0a9 = ['0,256 Mbps','0,375 Mbps','0,625 Mbps','0,5 Mbps','0,512 Mbps','0,75 Mbps','1 Mbps','1,2 Mbps','1,25 Mbps','1,5 Mbps','2 Mbps','2,2 Mbps','2,5 Mbps','6,7 Mbps','3 Mbps','3,2 Mbps','3,3 Mbps','3,5 Mbps','4 Mbps','4,5 Mbps','5 Mbps','6 Mbps','6,4 Mbps','7 Mbps','7,5 Mbps','8 Mbps','9 Mbps']
acces_inter_vdesc['0a9Mbps'] = acces_inter_vdesc[columnas_0a9].sum(axis=1)
acces_inter_vdesc = acces_inter_vdesc.drop(columnas_0a9, axis=1)
#2do rango de 10 a 20 Mbps
columnas_10a20 = ['10 Mbps','10,6 Mbps','11 Mbps','12 Mbps','13 Mbps','14 Mbps','15 Mbps','16 Mbps','17 Mbps','18 Mbps','19 Mbps','20 Mbps']
acces_inter_vdesc['10a20Mbps'] = acces_inter_vdesc[columnas_10a20].sum(axis=1)
acces_inter_vdesc = acces_inter_vdesc.drop(columnas_10a20, axis=1)
#3er rango de 21 a 49 Mbps
columnas_21a49 = ['21 Mbps','22 Mbps','23 Mbps','24 Mbps','25 Mbps','25,1 Mbps','25,11 Mbps','25,5 Mbps','26 Mbps','28 Mbps','29 Mbps','30 Mbps','31 Mbps','32 Mbps','34 Mbps','35 Mbps','36 Mbps','37 Mbps','38 Mbps','39 Mbps','40 Mbps','41 Mbps','45 Mbps','46 Mbps','47 Mbps','48 Mbps','49 Mbps']
acces_inter_vdesc['21a49Mbps'] = acces_inter_vdesc[columnas_21a49].sum(axis=1)
acces_inter_vdesc = acces_inter_vdesc.drop(columnas_21a49, axis=1)
#4to rango de 50 a 99 Mbps
columnas_50a99 = ['50 Mbps','51 Mbps','52 Mbps','54 Mbps','55 Mbps','56 Mbps','58 Mbps','59 Mbps','60 Mbps','61 Mbps','62 Mbps','63 Mbps','64 Mbps','65 Mbps','66 Mbps','67 Mbps','68 Mbps','70 Mbps','71 Mbps','75 Mbps','77 Mbps','78 Mbps','80 Mbps','81 Mbps','83 Mbps','82 Mbps','86 Mbps','84 Mbps','85 Mbps','90 Mbps','91 Mbps','92 Mbps','95 Mbps','98 Mbps']
acces_inter_vdesc['50a99Mbps'] = acces_inter_vdesc[columnas_50a99].sum(axis=1)
acces_inter_vdesc = acces_inter_vdesc.drop(columnas_50a99, axis=1)
#5to rango de 100 a 199 Mbps
columnas_100a199 = ['100 Mbps','105 Mbps','109 Mbps','110 Mbps','120 Mbps','122 Mbps','125 Mbps','126 Mbps','127 Mbps','128 Mbps','130 Mbps','131 Mbps','134 Mbps','137 Mbps','140 Mbps','145 Mbps','150 Mbps','158 Mbps','160 Mbps','164 Mbps']
acces_inter_vdesc['100a199Mbps'] = acces_inter_vdesc[columnas_100a199].sum(axis=1)
acces_inter_vdesc = acces_inter_vdesc.drop(columnas_100a199, axis=1)
#6to rango de 200 a 499 Mbps
columnas_200a499 = ['200 Mbps','203 Mbps','212 Mbps','220 Mbps','225 Mbps','234 Mbps','240 Mbps','250 Mbps','256 Mbps','270 Mbps','275 Mbps','300 Mbps','325 Mbps','340 Mbps','350 Mbps','380 Mbps','384 Mbps','400 Mbps','450 Mbps','473 Mbps','480 Mbps']
acces_inter_vdesc['200a499Mbps'] = acces_inter_vdesc[columnas_200a499].sum(axis=1)
acces_inter_vdesc = acces_inter_vdesc.drop(columnas_200a499, axis=1)
#7mo rango de 500 a 10000 Mbps
columnas_500a10000 = ['500 Mbps','512 Mbps','520 Mbps','600 Mbps','640 Mbps','680 Mbps','700 Mbps','768 Mbps','800 Mbps','850 Mbps','900 Mbps','945 Mbps','1000 Mbps','1024 Mbps','1075 Mbps','1536 Mbps','2000 Mbps','2048 Mbps','2529 Mbps','3072 Mbps','4000 Mbps','5000 Mbps','5125 Mbps','6000 Mbps','7000 Mbps','8000 Mbps','10000 Mbps']
acces_inter_vdesc['500a10000Mbps'] = acces_inter_vdesc[columnas_500a10000].sum(axis=1)
acces_inter_vdesc = acces_inter_vdesc.drop(columnas_500a10000, axis=1)
#8vo Otros
acces_inter_vdesc['otros'] = acces_inter_vdesc['Otros']
acces_inter_vdesc = acces_inter_vdesc.drop('Otros', axis=1)

En la siguiente celda se van a estandarizar los nombres de las provincias, luego se le agregará la región a la que corresponde para hacer estudios por región, se renombrarán las columnas para no tener mayúsculas ni espacios y finalmente se eliminarán las columnas que no serán utilizadas en este análisis.

In [653]:
#Eliminar la ultima fila en blanco
acces_inter_vdesc = acces_inter_vdesc.drop(acces_inter_vdesc.index[-1])
#Estandarizar nombres de provincias
acces_inter_vdesc['Provincia'] = acces_inter_vdesc['Provincia'].apply(lambda x: etl.transf_provincias(x))
acces_inter_vdesc = acces_inter_vdesc.merge(provincias[['Provincia', 'Region']], on='Provincia', how='left') #agregar la región 						
#Renombrar para no tener mayusculas:
acces_inter_vdesc = acces_inter_vdesc.rename(columns={'Año':'anio','Trimestre':'trimestre','Provincia':'provincia','Region':'region'})
#reordenar columnas
acces_inter_vdesc = acces_inter_vdesc[['anio','trimestre','provincia','region','0a9Mbps','10a20Mbps','21a49Mbps','50a99Mbps','100a199Mbps','200a499Mbps','500a10000Mbps','otros']]
acces_inter_vdesc = acces_inter_vdesc.fillna(0)
#Convertir a entero las que son cantidades:
columnas_int = acces_inter_vdesc.columns.difference(['provincia','region'])
acces_inter_vdesc[columnas_int] = acces_inter_vdesc[columnas_int].astype('int64')

In [654]:
acces_inter_vdesc.dtypes #Tipos de dato esperados

anio              int64
trimestre         int64
provincia        object
region           object
0a9Mbps           int64
10a20Mbps         int64
21a49Mbps         int64
50a99Mbps         int64
100a199Mbps       int64
200a499Mbps       int64
500a10000Mbps     int64
otros             int64
dtype: object

In [655]:
acces_inter_vdesc.isna().sum().sort_values(ascending=False) #No hay nulos

anio             0
trimestre        0
provincia        0
region           0
0a9Mbps          0
10a20Mbps        0
21a49Mbps        0
50a99Mbps        0
100a199Mbps      0
200a499Mbps      0
500a10000Mbps    0
otros            0
dtype: int64

In [656]:
acces_inter_vdesc.head(3)

,anio,trimestre,provincia,region,0a9Mbps,10a20Mbps,21a49Mbps,50a99Mbps,100a199Mbps,200a499Mbps,500a10000Mbps,otros
0,2022,3,Buenos Aires,Provincia de Buenos Aires,430296,482672,849061,1466679,1210649,182661,33829,65821
1,2022,3,Ciudad De Buenos Aires,Provincia de Buenos Aires,57292,103113,81909,489369,560701,129613,20205,105477
2,2022,3,Catamarca,Norte Grande Argentino,3564,10486,3737,31597,16458,2242,1,2208

### **2.2.4 - PENET-DEL-SERVI-DE-INTER**

Tenemos dos dataset muy similares, misma forma, mismos tipos de datos, solo se diferencian en una columna, se van a fusionar en uno solo:

In [657]:
penetracion_internet = pd.merge(pent_por_pob, pent_por_hog, on=['Provincia', 'Año', 'Trimestre'])

In [658]:
penetracion_internet.head(3)

,Año,Trimestre,Provincia,Accesos por cada 100 hab,Accesos por cada 100 hogares
0,2022,3,Buenos Aires,26.37,78.11
1,2022,3,Capital Federal,50.22,122.28
2,2022,3,Catamarca,16.62,65.33

En la siguiente celda se van a renombrar las columnas.

In [659]:
#Estandarizar nombres de provincias
penetracion_internet['Provincia'] = penetracion_internet['Provincia'].apply(lambda x: etl.transf_provincias(x))
penetracion_internet = penetracion_internet.merge(provincias[['Provincia', 'Region']], on='Provincia', how='left') #agregar la región 
penetracion_internet = penetracion_internet[['Año','Trimestre','Provincia','Region','Accesos por cada 100 hab','Accesos por cada 100 hogares']]		
penetracion_internet = penetracion_internet.rename(columns={'Año':'anio', 'Trimestre':'trimestre', 'Provincia':'provincia', 'Region':'region','Accesos por cada 100 hab':'accesx100hab', 'Accesos por cada 100 hogares':'accesx100hog'})
penetracion_internet[['accesx100hab','accesx100hog']] = penetracion_internet[['accesx100hab','accesx100hog']].astype('float16')

In [660]:
penetracion_internet.dtypes #Tipos de dato esperados.

anio              int64
trimestre         int64
provincia        object
region           object
accesx100hab    float16
accesx100hog    float16
dtype: object

In [661]:
penetracion_internet.isna().sum() #No hay valores nulos

anio            0
trimestre       0
provincia       0
region          0
accesx100hab    0
accesx100hog    0
dtype: int64

In [662]:
penetracion_internet.head(3)

,anio,trimestre,provincia,region,accesx100hab,accesx100hog
0,2022,3,Buenos Aires,Provincia de Buenos Aires,26.37500,78.1250
1,2022,3,Ciudad De Buenos Aires,Provincia de Buenos Aires,50.21875,122.2500
2,2022,3,Catamarca,Norte Grande Argentino,16.62500,65.3125

### **2.2.5 - VELOC-PROME-DE-BAJAD-DE (Parte A)**

In [663]:
veloc_prome_desc_prov.head(3)

    Año  Trimestre        Provincia  Mbps (Media de bajada)
0  2022          3     Buenos Aires                   70.19
1  2022          3  Capital Federal                  101.05
2  2022          3        Catamarca                   60.99

En la siguiente celda se van a estandarizar los nombres de las provincias, luego se le agregará la región a la que corresponde para hacer estudios por región y se renombrarán las columnas para no tener mayúsculas ni caracteres especiales.

In [664]:
#Estandarizar nombres de provincias
veloc_prome_desc_prov['Provincia'] = veloc_prome_desc_prov['Provincia'].apply(lambda x: etl.transf_provincias(x))
veloc_prome_desc_prov = veloc_prome_desc_prov.merge(provincias[['Provincia', 'Region']], on='Provincia', how='left') #agregar la región 						
#reordenar columnas
veloc_prome_desc_prov = veloc_prome_desc_prov[['Año','Trimestre','Provincia','Region','Mbps (Media de bajada)']]
#Renombrar para no tener mayusculas:
veloc_prome_desc_prov = veloc_prome_desc_prov.rename(columns={'Año':'anio','Trimestre':'trimestre','Provincia':'provincia','Region':'region','Mbps (Media de bajada)':'velocidadMediaDesc'})

In [665]:
veloc_prome_desc_prov.dtypes #Tipos de dato esperados

anio                    int64
trimestre               int64
provincia              object
region                 object
velocidadMediaDesc    float64
dtype: object

In [666]:
veloc_prome_desc_prov.isna().sum() # No hay nulos

anio                  0
trimestre             0
provincia             0
region                0
velocidadMediaDesc    0
dtype: int64

In [667]:
veloc_prome_desc_prov.head(3)

,anio,trimestre,provincia,region,velocidadMediaDesc
0,2022,3,Buenos Aires,Provincia de Buenos Aires,70.19
1,2022,3,Ciudad De Buenos Aires,Provincia de Buenos Aires,101.05
2,2022,3,Catamarca,Norte Grande Argentino,60.99

## **<span style="color: #DDA0DD; font-size: 30px;">2.3 - Datasets para Análisis: </span>**<span style="color:#138D75;">**Global**</span>

### **2.3.1 - INGRE-POR-LA-OPERA-DEL**

In [668]:
ingre_por_trim.head(3)

    Año  Trimestre  Ingresos (miles de pesos)        Periodo
0  2022          3               6.705593e+07  Jul-Sept 2022
1  2022          2               6.033572e+07   Abr-Jun 2022
2  2022          1               5.559000e+07   Ene-Mar 2022

En la siguiente celda se eliminarán las columnas que no se usarán en el análisis y se quitarán las mayusculas de los headers.

In [669]:
#Eliminar columnas que no se usarán en el alcance del estudio.
ingre_por_trim = ingre_por_trim.drop(['Periodo'], axis=1)
#Renombrar para no tener mayusculas:
ingre_por_trim = ingre_por_trim.rename(columns={'Año':'anio', 'Trimestre':'trimestre', 'Ingresos (miles de pesos)':'ingresos'})

In [670]:
ingre_por_trim.dtypes #Tipos de dato esperados

anio           int64
trimestre      int64
ingresos     float64
dtype: object

In [671]:
ingre_por_trim.isna().sum().sort_values(ascending=False) #No hay nulos

anio         0
trimestre    0
ingresos     0
dtype: int64

In [672]:
ingre_por_trim.head(3)

   anio  trimestre      ingresos
0  2022          3  6.705593e+07
1  2022          2  6.033572e+07
2  2022          1  5.559000e+07

### **2.3.2 - VELOC-PROME-DE-BAJAD-DE (Parte B)**

In [673]:
veloc_prome_desc_total.head(3)

    Año  Trimestre  Mbps (Media de bajada)    Trimestre.1
0  2022          3                   62.46  Jul-Sept 2022
1  2022          2                   58.44   Abr-Jun 2022
2  2022          1                   55.11   Ene-Mar 2022

En la siguiente celda se renombrarán las columnas para no tener mayúsculas ni caracteres especiales.

In [674]:
#Eliminar columnas que no se usarán:
veloc_prome_desc_total = veloc_prome_desc_total.drop('Trimestre.1', axis=1)
#Renombrar para no tener mayusculas:
veloc_prome_desc_total = veloc_prome_desc_total.rename(columns={'Año':'anio','Trimestre':'trimestre','Mbps (Media de bajada)':'velocidadMediaDesc'})

In [675]:
veloc_prome_desc_total.dtypes #tipos de dato esperados

anio                    int64
trimestre               int64
velocidadMediaDesc    float64
dtype: object

In [676]:
veloc_prome_desc_total.isna().sum() #No hay nulos

anio                  0
trimestre             0
velocidadMediaDesc    0
dtype: int64

In [677]:
veloc_prome_desc_total.head(3)

   anio  trimestre  velocidadMediaDesc
0  2022          3               62.46
1  2022          2               58.44
2  2022          1               55.11

## **<span style="color: #DDA0DD; font-size: 30px;">Crear los dataset que serán cargados:</span>**

### **Dataset: dataLocalidad**

In [678]:
dataLocalidad = acces_inter_fijo_86398.merge(acces_inter_fijo_46973, on=['provincia','region','localidad'], validate='1:1')

In [679]:
dataLocalidad = dataLocalidad.merge(conect_servi_inter, on=['provincia','region','localidad'], how='left')

In [680]:
dataLocalidad.head(5)

,provincia,region,localidad,0a9Mbps,10a20Mbps,21a49Mbps,50a99Mbps,100a199Mbps,200a499Mbps,500a1024Mbps,otros,adsl,cableModem,dialUp,fibraOptica,otros_tec,satelital,wimax,wireless,totalTecnologia,latitud,longitud
0,Buenos Aires,Provincia de Buenos Aires,11 De Septiembre,32,30,11,518,549,67,14,1,34,1181,0,5,1,1,0,0,1222,"-34,566314345456","-58,6183600679169"
1,Buenos Aires,Provincia de Buenos Aires,12 De Octubre,11,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19,19,"-35,607730780146","-60,9182929927645"
2,Buenos Aires,Provincia de Buenos Aires,20 De Junio,21,28,3,319,306,20,13,0,26,682,4,0,0,0,0,1,713,"-34,7855336508384","-58,7171850019077"
3,Buenos Aires,Provincia de Buenos Aires,25 De Mayo,723,5297,307,9,0,0,0,0,873,4704,0,2,0,975,0,664,7218,"-35,4339385892588","-60,1731209454056"
4,Buenos Aires,Provincia de Buenos Aires,30 De Agosto,2560,0,0,0,0,0,0,0,0,184,0,1396,2376,0,0,0,3956,"-36,2779720057322","-62,5453088654651"

In [681]:
dataLocalidad.dtypes

provincia          object
region             object
localidad          object
0a9Mbps             int32
10a20Mbps           int32
21a49Mbps           int32
50a99Mbps           int32
100a199Mbps         int32
200a499Mbps         int32
500a1024Mbps        int32
otros               int32
adsl                int64
cableModem          int64
dialUp              int64
fibraOptica         int64
otros_tec           int64
satelital           int64
wimax               int64
wireless            int64
totalTecnologia     int64
latitud            object
longitud           object
dtype: object

In [682]:
dataLocalidad.shape

(2974, 22)

### **Dataset: dataProvincia**

In [683]:
data1 = pd.merge(acces_inter_fijo_banda, penetracion_internet, on=['provincia','region', 'anio', 'trimestre'])

In [684]:
data2 = pd.merge(data1, acces_inter_tecno, on=['provincia','region', 'anio', 'trimestre'])

In [685]:
data3 = pd.merge(data2, veloc_prome_desc_prov, on=['provincia','region', 'anio', 'trimestre'])

In [686]:
dataProvincia = pd.merge(data3, acces_inter_vdesc, on=['provincia','region', 'anio', 'trimestre'], how='left')
dataProvincia.head(3)

,anio,trimestre,provincia,region,bandaAnchaFija,dialUp,total_ba_du,accesx100hab,accesx100hog,adsl,cableModem,fibraOptica,wireless,otras_tecno,total_tec,velocidadMediaDesc,0a9Mbps,10a20Mbps,21a49Mbps,50a99Mbps,100a199Mbps,200a499Mbps,500a10000Mbps,otros
0,2022,3,Buenos Aires,Provincia de Buenos Aires,4715469,6199,4721668,26.37500,78.1250,339648.0,2748325.0,1436433.0,126846.0,70416.0,4721668.0,70.19,430296.0,482672.0,849061.0,1466679.0,1210649.0,182661.0,33829.0,65821.0
1,2022,3,Ciudad De Buenos Aires,Provincia de Buenos Aires,1545534,2145,1547679,50.21875,122.2500,140791.0,1240125.0,129218.0,5758.0,31787.0,1547679.0,101.05,57292.0,103113.0,81909.0,489369.0,560701.0,129613.0,20205.0,105477.0
2,2022,3,Catamarca,Norte Grande Argentino,70292,1,70293,16.62500,65.3125,10010.0,10495.0,46224.0,1329.0,2235.0,70293.0,60.99,3564.0,10486.0,3737.0,31597.0,16458.0,2242.0,1.0,2208.0

In [687]:
dataProvincia = dataProvincia.fillna(0) #los valores de acces_inter_vdesc solo estan desde 2017 en adelante.

In [688]:
dataProvincia.dtypes

anio                    int64
trimestre               int64
provincia              object
region                 object
bandaAnchaFija          int64
dialUp                  int64
total_ba_du             int64
accesx100hab          float16
accesx100hog          float16
adsl                  float64
cableModem            float64
fibraOptica           float64
wireless              float64
otras_tecno           float64
total_tec             float64
velocidadMediaDesc    float64
0a9Mbps               float64
10a20Mbps             float64
21a49Mbps             float64
50a99Mbps             float64
100a199Mbps           float64
200a499Mbps           float64
500a10000Mbps         float64
otros                 float64
dtype: object

### **Dataset: dataGlobal**

In [689]:
dataGlobal = pd.merge(veloc_prome_desc_total, ingre_por_trim, on=['anio', 'trimestre'])
dataGlobal.head(10)

   anio  trimestre  velocidadMediaDesc      ingresos
0  2022          3               62.46  6.705593e+07
1  2022          2               58.44  6.033572e+07
2  2022          1               55.11  5.559000e+07
3  2021          4               52.34  4.546789e+07
4  2021          3               48.46  4.299994e+07
5  2021          2               45.63  3.823967e+07
6  2021          1               43.11  3.667637e+07
7  2020          4               42.36  3.353970e+07
8  2020          3               40.67  3.199744e+07
9  2020          2               38.32  3.210248e+07

In [690]:
dataGlobal.dtypes

anio                    int64
trimestre               int64
velocidadMediaDesc    float64
ingresos              float64
dtype: object

# **<span style="color: #800080; font-size: 36px;">3- Carga :</span>**

## **<span style="color: #DDA0DD; font-size: 30px;">Establecer la conexión con el servidor MySQL:</span>**

In [423]:
host = os.getenv("HOST")
database = os.getenv("DATABASE")
user = os.getenv("USER")
password = os.getenv("PASSWORD")

In [424]:
conexion = pymysql.connect(
    host=host,
    database=database,
    user=user,
    password=password
)

## **<span style="color: #DDA0DD; font-size: 30px;">Crear base de datos dw_enacon y tablas vacias</span>**

In [227]:
#with conexion.cursor() as cursor:
#        create_database = '''
#        CREATE DATABASE IF NOT EXISTS dw_enacon
#        '''
#        cursor.execute(create_database)
#        conexion.commit()

### **Crear tablas vacias**

#### *dataLocalidad*

In [631]:
with conexion.cursor() as cursor:
    create_tables = '''
    CREATE TABLE IF NOT EXISTS dataLocalidad(
        provincia VARCHAR(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_spanish_ci,
        region VARCHAR(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_spanish_ci,
        localidad VARCHAR(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_spanish_ci,
        de0a9Mbps INT,             
        de10a20Mbps INT,           
        de21a49Mbps INT,           
        de50a99Mbps INT,         
        de100a199Mbps INT,         
        de200a499Mbps INT,         
        de500a1024Mbps INT,        
        otros INT,               
        adsl INT,                
        cableModem INT,        
        dialUp INT,              
        fibraOptica INT,         
        otros_tec INT,           
        satelital INT,           
        wimax INT,               
        wireless INT,            
        totalTecnologia INT,
        latitud DECIMAL(20,15),
        longitud DECIMAL(20,15)
        );
    '''
    cursor.execute(create_tables)
    conexion.commit()

#### *dataProvincia*

In [345]:
with conexion.cursor() as cursor:
    create_tables = '''
    CREATE TABLE IF NOT EXISTS dataProvincia
    (
        anio INT,
        trimestre INT,
        provincia VARCHAR(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_spanish_ci,
        region VARCHAR(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_spanish_ci,
        bandaAnchaFija INT,
        dialUp INT, 
        total_ba_du INT,
        accesx100hab DECIMAL(10,3),          
        accesx100hog DECIMAL(10,3),          
        adsl DECIMAL(10,3),                  
        cableModem DECIMAL(10,3),            
        fibraOptica DECIMAL(10,3),           
        wireless DECIMAL(10,3),              
        otras_tecno DECIMAL(10,3),           
        total_tec DECIMAL(10,3),             
        velocidadMediaDesc DECIMAL(10,3),    
        de0a9Mbps DECIMAL(10,3),               
        de10a20Mbps DECIMAL(10,3),             
        de21a49Mbps DECIMAL(10,3),            
        de50a99Mbps DECIMAL(10,3),            
        de100a199Mbps DECIMAL(10,3),           
        de200a499Mbps DECIMAL(10,3),          
        de500a10000Mbps DECIMAL(10,3),         
        otros DECIMAL(10,3)               
    );

    '''
    cursor.execute(create_tables)
    conexion.commit()

#### *dataGlobal*

In [362]:
with conexion.cursor() as cursor:
    create_tables = '''
    CREATE TABLE IF NOT EXISTS dataGlobal
    (
        anio INT,
        trimestre INT,
        velocidadMediaDesc DECIMAL(10,3),          
        ingresos DECIMAL(15,3)          
    );

    '''
    cursor.execute(create_tables)
    conexion.commit()

## **<span style="color: #DDA0DD; font-size: 30px;">Ingestar las tablas</span>**

#### **Ingestar:** *dataLocalidad*

In [691]:
filas_dataLocalidad = [
    tuple(
        str(dataLocalidad.iloc[i, j]).replace(',', '.')
        for j in range(dataLocalidad.shape[1])
    )
    for i in range(dataLocalidad.shape[0])
]#filas a cargar
fill_dataLocalidad = '''
INSERT INTO dataLocalidad (provincia, region, localidad, de0a9Mbps, de10a20Mbps, de21a49Mbps, de50a99Mbps, de100a199Mbps, de200a499Mbps, de500a1024Mbps, otros, adsl, cableModem, dialUp, fibraOptica, otros_tec, satelital, wimax, wireless, totalTecnologia, latitud, longitud)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
'''
with conexion.cursor() as cursor:
    cursor.executemany(fill_dataLocalidad, filas_dataLocalidad)
    conexion.commit()

#### **Ingestar:** *dataProvincia*

In [623]:
filas_dataProvincia = [
    tuple(
        str(dataProvincia.iloc[i, j]).replace(',', ' -')
        for j in range(dataProvincia.shape[1])
    )
    for i in range(dataProvincia.shape[0])
]#filas a cargar
fill_dataProvincia = '''
INSERT INTO dataProvincia (anio, trimestre, provincia, region, bandaAnchaFija, dialUp, total_ba_du, accesx100hab, accesx100hog, adsl, cableModem, fibraOptica, wireless, otras_tecno, total_tec, velocidadMediaDesc, de0a9Mbps, de10a20Mbps, de21a49Mbps, de50a99Mbps, de100a199Mbps, de200a499Mbps, de500a10000Mbps, otros)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
'''
with conexion.cursor() as cursor:
    cursor.executemany(fill_dataProvincia, filas_dataProvincia)
    conexion.commit()

#### **Ingestar:** *dataGlobal*

In [363]:
filas_dataGlobal = [
    tuple(
        str(dataGlobal.iloc[i, j]).replace(',', ' -')
        for j in range(dataGlobal.shape[1])
    )
    for i in range(dataGlobal.shape[0])
]#filas a cargar
fill_dataGlobal = '''
INSERT INTO dataGlobal (anio, trimestre, velocidadMediaDesc, ingresos)
VALUES (%s, %s, %s, %s)
'''
with conexion.cursor() as cursor:
    cursor.executemany(fill_dataGlobal, filas_dataGlobal)
    conexion.commit()